body {
    overflow: hidden;
    margin: 0;
}

.camera__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.camera__video_grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.camera__video_invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.camera__video_threshold {
    -webkit-filter: grayscale(100%) contrast(100);
    filter: grayscale(100%) contrast(100);
}

.controls__filter {
    position: absolute;
    margin: 20px;
    padding: 0 10px 0 0;
    font-size: 20px;
    z-index: 10;
}
